*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    font-size: 15px;
}
h1{
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    color: var(--amarillo);
}
h2{
    font-family: "Exo 2", sans-serif;
    color: var(--celeste);
}
label,li,button{
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
}   
:root{
    --celeste : rgb(77, 189, 226); 
    --amarillo : #FCBF49;
}
button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px !important;
}
.ocultarTarea{
    display: none;
}
.importante{
    font-weight: bold;
}
.contenedor{
    width: 100%;
    padding: 50px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input[type="text"]{
        width: 400px;
        padding: 10px;
        font-size: 1.1rem;
        border: solid 2px var(--celeste);
        color: var(--celeste);
        &::placeholder{
            color: var(--celeste);
        }
        &:focus{
            border: solid 2px var(--amarillo);
            outline: none;
        }
    }
    .agregarTareas{
        display: flex;
        min-width: 800px;
        padding: 20px;
        align-items: center;    
        border: solid 2px var(--celeste);
        justify-content: space-between;
        button{
            background-color: var(--amarillo);
        }
    }
}
div#contadorTareas{
    #importante,#total{
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-family: "Exo 2", sans-serif;
            color: var(--celeste);
            font-size: 1.2rem;
            
        }
    }

}
.cajaTareas{
    min-width: 800px;
    padding: 20px;
    div{
        display: flex;
        margin:10px 0; 
        gap: 20px;
    }
}
  /* PARA MI, ALBERTO PONE EL NUMERO AL LADO . Mejor preguntarle que onda */